@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Lily+Script+One&display=swap");

/* Estilos gerais */
body {
  margin: 0;
  font-family: "Jura", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.background-ellipse {
  position: absolute;
  top: -100px; /* Ajuste a posição vertical */
  left: -200px; /* Ajuste a posição horizontal */
  width: 600px;
  height: 400px;
  background: transparent;
  border: 5px solid #4caf50;
  border-radius: 75%;
  z-index: -1; /* Fica atrás de outros elementos */
  opacity: 0.2; /* Torna a elipse mais suave */
}
/* Tema claro */
body.light-mode {
  background-color: #f9f9f9;
  color: #212121;
}

body.light-mode .form-box{
  background-color: #f9f9f9;
  box-shadow: 0px 5px 50px rgba(76, 175, 80, 0.3);
}

body.light-mode .icon-text .text h1 {
  color: #212121;
}

/* Tema escuro */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .icon-text .text h1 {
  color: #e0e0e0;
}

.menu-superior {
  padding-top: 25px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-superior .logo {
  margin-right: auto;
}

.menu-superior .text-mode {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 400px;
}

/* Estilizando a navegação */
.menu-superior ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.menu-superior ul li {
  margin: 0 10px;
  color: #4caf50;
}

.menu-superior ul li a {
  text-decoration: none;
  color: inherit;
  /* Herda a cor do tema */
  padding: 5px 10px;
}

.menu-superior ul li a:hover {
  color: #81c784;
}

.menu-superior li {
  padding-left: 50px;
  font-size: 18px;
}

.container {
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
}

.ladoImg {
  margin-right: 50px;
}

.ladoImg img {
  width: 590px;
  height: 431px;
}

.ladoContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-index{
  font-size: px;
  font-family: "Lily Script One", system-ui;
  color: #4caf50;
  display: flex;
}

.title {
  font-size: 25px;
  color: #4caf50;
  font-family: "Lily Script One", system-ui;
  text-align: center;
}

.TeamTx {
  color: #81c784;
}

.text-box {
  width: 85%;
}

.text-box h4 {
  color: #4caf50;
  text-align: justify;
}

.form-box {
  width: 450px;
  height: auto;
  background-color: #1e1e1e;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
  padding: 20px;
  box-shadow: 0px 5px 50px rgba(76, 175, 80, 0.5);
}

.title {
  font-size: 40px;
}

.buttons-box {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.input-group {
  margin-top: 10px;
}

.input-box {
  padding: 10px;
}

.input-box input {
  background: none;
  border: 2px solid #4caf50;
  border-radius: 30px;
  width: 360px;
  padding: 10px 15px;
}

body.dark-mode .input-box input {
  color: white;

}

.input-box input::placeholder {
  color: #4caf50;
  font-size: 14px;
  font-style: italic;
}

.form-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0 0 15px;
  width: 360px;
  text-align: left;
}

.form-text a,
p {
  color: #4caf50;
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  align-items: center;
  text-align: left;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
}

.button {
  margin-top: 10px;
  background-color: transparent;
  color: #4caf50;
  padding: 10px 10px;
  font-size: 16px;
  border: 2px solid #4caf50;
  border-radius: 35px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  
}

.button:hover {
  background-color: #81c784;
  color: black;
}

.flashes {
  list-style: none;
  padding: 10px;
}

.flashes li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.flashes .success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.flashes .error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
