<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>DreamTeam - Login</title>
</head>
<body>
    <header class="menu-superior">
        <ul>
            <div class="logo">
            <li><a href="/index"><img src="static/icons/DreamTeam.svg" class="logo" alt="logo do DreamTeam"></a></li>
        </div>
            <li>
                <div class="text-mode">
                Não tem uma conta? <a href="/register"> Faça cadastro</a><img src="static/icons/register.svg" height="20" alt="icone de login">
            </li>
            <li> <a href="#" id="theme-toggle" class="button-mode">
                    <img src="static/icons/mode.svg" alt="Ícone de sol e lua" height="25"></a></li>
                    </div>
        </ul>
    </header>

    <div class="container">
        <div class="ladoImg">
        <img src="static/icons/login-woman.svg" alt="">
        </div>
        <div class="ladoContent">
            <div class="form-box">
                <form class="formulario" action="/login" method="POST">
                    <div class="title">Bem vindo de volta!</div>
                                                <!-- Mensagens Flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
                    <div class="input-group">
                        <div class="input-box">
                            <input type="email" id="email" name="email" placeholder="E-mail:" maxlength="80" required>
                        </div>
                        <div class="input-box">
                            <input type="password" id="password" name="password" placeholder="Senha:" maxlength="30" required>
                        </div>
                        <div class="form-text">
                            <p>Não tem uma conta? <a href="/register">Cadastre-se já</a></p>
                            <p><a href="#">Esqueceu sua senha?</a></p>
                        </div>
                    </div>
                    <div class="button-form">
                        <button class="button">Continuar</button>
                    </div>
                </form>             
            </div>
        </div>
    </div>

</body>
<script src="static/js/script.js"></script>
</html>